<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="additional_jetfile" name="Additional Jet File to generate" schema="schema/additional_jetfile.exsd"/>
   <extension-point id="componentFilter" name="Component filter" schema="schema/componentFilter.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="Talend"
            id="refreshTemplates"
            name="Refresh templates"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="refreshTemplates"
            contextId="talend.global"
            schemeId="org.talend.core.scheme"
            sequence="CTRL+SHIFT+F3"/>
   </extension>
   <extension
         point="org.talend.core.global_actions">
      <GlobalAction class="org.talend.designer.codegen.RefreshTemplatesAction"/>
   </extension>
   
   <extension
         point="org.talend.core.runtime.service">
      <Service 
      		serviceId="ICodeGeneratorService"
      		class="org.talend.designer.codegen.CodeGeneratorService"/>
      <Service
            class="org.talend.designer.codegen.ComponentsLocalProviderService"
            serviceId="ComponentsLocalProviderService">
      </Service>
      <Service
            class="org.talend.designer.codegen.components.model.ComponentsService"
            serviceId="IComponentsService">
      </Service>
   </extension>
   <extension
         id="CodeGenInit"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.talend.designer.codegen.CodeGenInit">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.talend.core.prefs"
            class="org.talend.designer.codegen.components.ui.ComponentsPreferencePage"
            id="org.talend.designer.codegen.components.preference"
            name="%components">
      </page>
      <page
            category="org.talend.designer.codegen.components.preference"
            class="org.talend.designer.components.preference.ComponentsFormatPreferencePage"
            id="org.talend.designer.codegen.components.preference.format"
            name="%format">
      </page>
   </extension>
   <extension
         point="org.talend.core.components_provider">
      <ComponentsProvider
            class="org.talend.designer.codegen.components.model.UserComponentsProvider"
            folderName="user"
            id="org.talend.designer.components.model.UserComponentsProvider">
      </ComponentsProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.designer.codegen.components.ui.ComponentPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.talend.core.runtime.tokenInfo_provider">
      <provider
            collector="org.talend.designer.codegen.components.model.UserComponentsTokenCollector"
            id="org.talend.designer.codegen.UserComponentsprovider"
            name="UserComponents">
      </provider>
   </extension>
   
</plugin>
